/*Global View*/

body {
    font-family: sans-serif;
}

.slicknav_menu {
    display: block;
}

#menu {
    display: none;
}

#menu li {
    display: inline-block;
}

header {
    padding: 10px 20px 20px 20px;
}